*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: black;
}
h1{
    height: 100vh;
    width: 100%;
    color: rgb(0,255,0);
    text-align: center;
    margin-top: 15%;
    border-bottom: 3px solid rgb(0,100,0);
    animation: loader-h1 1.5s infinite ease-in-out;
}
.loader{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    perspective: 800px;
}
.inner{
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.inner.one{
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid white;
    box-shadow: 0px 4px 10px 1px rgb(0,255,0);
}
.inner.two{
    right: 0%;
    bottom: 0%;
    animation: rotate-two 1s linear infinite;
    border-bottom: 3px solid white;
    box-shadow: 0px 4px 10px 1px rgb(0,255,0);
}
.inner.three{
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-bottom: 3px solid white;
    box-shadow: 0px 4px 10px 1px rgb(0,255,0);
}
@keyframes rotate-one {
    0%{
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}
@keyframes rotate-two {
    0%{
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}
@keyframes rotate-three {
    0%{
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

.loader-main-dot{
    display: flex;
    margin-top: -20%;
    position: absolute;
    width: 250;
    border-radius: 50%;
    perspective: 800px;
  }
  
  .loader-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(0,255,0);
    margin: 0 10px;
    border-bottom: 3px solid rgb(0,100,0);

    animation: loader-dot 1.5s infinite ease-in-out;
    animation-delay: calc(0.5s);
  }
  
  .loader-dot:nth-child(2) {
    animation-delay: calc(0.5s + 0.25s);
  }
  
  .loader-dot:nth-child(3) {
    animation-delay: calc(0.5s + 0.5s);
  }
  
  @keyframes loader-dot {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes loader-h1 {
    0% {
      transform: scale(1);
    }
    50% {
        transform: scale(0.9);
      }
    100% {
        transform: scale(1);
      }
  }